@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: extrabold;
  font-display: swap;
}

body, html {
  font-family: 'Roboto', system-ui, Helvetica, Arial, sans-serif;
  font-size: 16px; /* 1rem = 16px */
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #6b7280; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 10px; 
  transition: all 0.3s ease; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}